/*****************************/
/* BELOW 1408px */
/*****************************/

@media (max-width: 88em) {
  /* FOOTER */
  .footer--grid {
    gap: 2.4rem;
  }

  .footer--logo {
    width: 14rem;
  }
  .footer-heading {
    font-size: 1.8rem;
  }
  .address,
  .footer-link:link,
  .footer-link:visited {
    font-size: 1.4rem;
  }
}

/*****************************/
/* BELOW 1344px */
/*****************************/
@media (max-width: 84em) {
  /* GENERAL */
  .subheading {
    font-size: 1.4rem;
  }

  /* HEADER */

  .nav-list {
    gap: 2.2rem;
  }

  .nav-list li {
    padding: 0 0.8rem;
  }

  /* HERO */

  .hero {
    max-width: 120rem;
    gap: 8rem;
  }
  .heading-primary {
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
  }

  .hero-description {
    margin-bottom: 3.2rem;
    line-height: 1.5;
  }

  /* WHY US */
  .why-us-container {
    column-gap: 4.8rem;
  }

  /*  TESTIMONIALS */

  .background-icon {
    /* font-size: 12rem; */
    display: none;
  }

  /* FOOTER */

  .section--footer {
    padding: 9.6rem 8.2rem;
  }
}

/*****************************/
/* BELOW 1216px */
/*****************************/
@media (max-width: 76em) {
  html {
    font-size: 56.25%;
  }

  .hero {
    gap: 4.2rem;
  }
}
/*****************************/
/* BELOW 1024px */
/*****************************/

@media (max-width: 64em) {
  .nav-list {
    flex-direction: column;
    gap: 1.4rem;
    height: auto;
    width: 60%;
  }

  .nav-list li {
    height: 7.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3.2rem;
  }

  .nav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(237, 252, 243, 0.9);
    gap: 4.4em;

    flex-direction: column;
    justify-content: center;
    z-index: 10;

    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);

    transform: translateX(100%);
  }

  .nav-cta {
    font-size: 2.8rem;
  }

  .menu-btn {
    display: block;
  }

  /* HERO */
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0 9.8rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-btn-container {
    justify-content: center;
  }

  .modal {
    width: 64rem;
  }

  .why-us-container {
    gap: 3.2rem;
  }
}

/*****************************/
/* BELOW 800px */
/*****************************/
@media (max-width: 50em) {
  .section {
    padding: 9.8rem 8.4rem;
  }

  .subheading {
    padding: 0;
  }

  /* HERO */

  .heading-primary {
    font-size: 4.2rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  /* WHY US */
  .feature-title {
    font-size: 1.8rem;
  }

  .feature-description {
    font-size: 1.4rem;
  }

  .why-us-container {
    padding: 0;
  }
  /* TESTIMONIALS */
  .testimonial-slider {
    height: 60rem;
    max-width: 45rem;
  }

  .testimonial-slide {
    grid-template-columns: 1fr;
    gap: 1.2rem;
    padding: 2.8rem 4.8rem;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 90%;
  }

  .testimonial-img {
    width: 60%;
    grid-row: 1;
    transform: scale(1);
  }

  blockquote {
    align-self: start;
  }
  .testimonial-text {
    font-size: 1.6rem;
  }

  .testimonial-author {
    font-size: 1.2rem;
  }
  .dots {
    bottom: 0;
  }
  /* PROGRAMS */

  .tabs--container,
  .program-btn--container {
    max-width: 60rem;
  }

  .program--tab {
    text-align: center;
  }

  .programs--cta {
    position: static;
  }

  .program--title {
    font-size: 2.6rem;
    margin-bottom: 0.8rem;
  }

  .btn--tab {
    font-size: 1.6rem;
  }
  .program--info {
    margin-bottom: 2.4rem;
  }

  .program--list {
    align-items: center;
  }

  .fee-container {
    flex-direction: column;
    gap: 1.8rem;
  }

  /* FOOTER */
  .footer--grid {
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }

  .footer--logo {
    width: 12rem;
  }

  /* MODAL */
  .modal {
    height: 60rem;
    width: 75%;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .modal p:last-child {
    font-size: 1.4rem;
  }

  .btn--submit {
    height: 4.6rem;
    font-size: 1.8rem;
    width: 60%;
  }
}

/*****************************/
/* BELOW 608px */
/*****************************/

@media (max-width: 38em) {
  .section {
    padding: 6.4rem 4.8rem;
  }

  /* HEADER */

  .header {
    padding: 0 3.2rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 2.4rem;
  }

  .nav-cta {
    font-size: 2.4rem;
  }

  /* HERO */
  .section--hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.8rem;
  }
  /* WHY US */
  .why-us-container {
    grid-template-columns: 1fr;
    max-width: 38rem;
    gap: 4.2;
  }

  /* PROGRAMS */

  .btn--tab {
    font-size: 1.4rem;
  }
  .program--title {
    font-size: 2rem;
  }

  .program--info {
    font-size: 1.2rem;
  }

  .program--list {
    font-size: 1.4rem;
  }
  .program--fees,
  .discount-fee {
    font-size: 1.6rem;
  }

  .tabs--container {
    padding: 0.2rem 1.8rem 1.8rem 1.8rem;
  }

  .program-btn--container {
    gap: 0.4rem;
  }

  /* TESTIMONIALS */
  .testimonial-author {
    line-height: 1.2;
  }

  /* FOOTER */
  .section--footer {
    padding: 7.2rem 3.2rem;
  }

  .footer--grid {
    column-gap: 2.6rem;
    row-gap: 3.4rem;
  }
}
